body {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fgeekville.ru%2Figry%2Fkak-tashhit-v-pubg-mobile-30-sovetov-i-hitrostej-igry%2F&psig=AOvVaw3HRmvdaY0tMcPfdbJfVhnV&ust=1642409698593000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCJjxuZPztfUCFQAAAAAdAAAAABAD.jpg');
  background-size: cover;
  background-attachment: fixed;
}
